<section class="quote-section">
  <h2 class="quote-title">
    <svg class="quote-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.5 5.5C13.5 6.88071 12.3807 8 11 8C9.61929 8 8.5 6.88071 8.5 5.5C8.5 4.11929 9.61929 3 11 3C12.3807 3 13.5 4.11929 13.5 5.5Z" fill="currentColor"/>
      <path d="M7 9L5 21H7.5L9 13.5L11 18.5L13 13.5L14.5 21H17L15 9L11 11L7 9Z" fill="currentColor"/>
    </svg>
    Quote of the day
  </h2>

  <span class="quote-marks">"</span>

  <blockquote class="quote">
    <p class="quote-text" id="quote-text"></p>
    <footer class="quote-author" id="quote-author"></footer>
  </blockquote>

  <div class="quote-info">
    <svg class="quote-info-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2L15 8L21 9L16.5 13.5L17.5 20L12 17L6.5 20L7.5 13.5L3 9L9 8L12 2Z" fill="white"/>
    </svg>
    <p class="quote-info-title">110 min</p>
    <p class="quote-info-text">Daily norm of sports</p>
  </div>
</section>
