.main-content {
  padding-bottom: 80px;
}
.main-content > .container {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.content-area {
  flex: 1;
  padding-bottom: 64px;
}
